<%= form_for(list) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= f.label 'Name*' %></strong>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong><%= f.label :notes %></strong>
    <%= f.text_area :notes, size: "60x12" %>
  </p>

  <div class="actions">
    <%= f.submit 'Submit', class: 'submit-button'%>
  </div>
<% end %>
