<h1><%= fa_icon List.fa_icon_string %> <%= @list.name %></h1>

<h2>List <%= @list.id %></h2>

<p><%= @list.notes %></p>

<p><strong>Created at:</strong> <%= @list.created_at %></p>
<p><strong>Updated at:</strong> <%= @list.updated_at %></p>
<% if @list.deleted_at.present? %>
  <p><strong>Deleted at:</strong> <%= @list.deleted_at %></p>
<% end %>

<%= render partial: 'shared/links', locals: {  class_name: 'List', links: { edit: true, home: true }, object_id: @list.id } %>

<h2><%= fa_icon Contact.fa_icon_string %> Contacts</h2>

<% @contacts.each do |contact| %>
  <p><%= contact.id %>. <%= link_to "#{contact.display_name}", contact_path(contact) %></p>
<% end %>

<h2><%= fa_icon Correspondence.fa_icon_string %> Correspondences</h2>

<% @correspondences.each do |correspondence| %>
  <p><%= correspondence.id %>. <%= link_to "#{correspondence.display_info}", correspondence_path(correspondence) %></p>
<% end %>

