<p id="notice"><%= notice %></p>

<h1>Labels</h1>

<%= link_to 'New Label', new_label_path %> <%= link_to 'Desk', root_path %>

<%= render partial: 'sort' %>

<table>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.id %></td>
        <td><strong><%= label.name %></strong></td>
        <td style='width: 50px;'></td>
        <td><%= link_to 'Show', label %></td>
        <td><%= link_to 'Edit', edit_label_path(label) %></td>
        <td><%= link_to 'Destroy', label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


