<% desk_page_name = 'Desk' %>
<% class_names = ['Household', 'Contact', 'Address', 'Correspondence', 'Label', 'List'] - [current_page] %>

<p>
  <% unless current_page == desk_page_name %>
    <%= link_to root_path do %>
      <%= fa_icon desk_page_name.constantize.fa_icon_string %> <%= desk_page_name %>
    <% end %>
  <% end %>

  <% class_names.each do |class_name| %>
    <%= link_to send("#{class_name.downcase.pluralize}_path") do %>
      <%= fa_icon class_name.constantize.fa_icon_string %> <%= class_name.pluralize %>
    <% end %>
  <% end %>
</p>
